<template>
    <div>
        <h1>Hello {{ loading_message }}</h1>
        <router-link :to="{name: 'MainPage'}">Main</router-link>
        <b-container>
            <b-row>
                <b-col cols="4">
                    <product-form :products="products" @wantToCreateProduct="createProduct"/>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col cols="8" class="mx-auto">
                    <input type="text"
                           class="form-control w-25 mb-2"
                           placeholder="search"
                           v-model="search_term"
                    >
                    <product-table :products="filteredProducts"/>


                    <input type="number" class="form-control" v-model="count">
                    <div class="mt-2">
                        <div v-for="i in numCount">
                            {{ i }}
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import ProductForm from "./includes/ProductForm";
import ProductTable from "./includes/ProductTable";
export default {
    name: 'HelloWorld',
    components: { ProductForm , ProductTable },
    data() {
        return {
            loading_message: '',
            my_var: 15,
            search_term: '',
            count: null,
            products: [
                {
                    id: 5,
                    name: 'PR 1',
                    description: 'Some description',
                    price: 15
                },
                {
                    id:6,
                    name: 'PR 2',
                    description: 'Some description',
                    price: 15
                },
                {
                    id: 8,
                    name: 'PR 3',
                    description: 'Some description',
                    price: 20
                }
            ],
        }
    },
    watch: {
        'item_data.description': function (new_value, old_value) {
            console.log('new', new_value);
        },
        my_var(new_v, old_v) {
            console.log('old', old_v);
        },
        item_data: {
            handler(new_val) {
                console.log(new_val);
            },
            deep: true
        }
    },
    mounted() {
        this.loading_message = "loading user data"
        this.axios.delete('/user/2');
        this.axios.put('/user/2');
        this.axios.patch('/user/2');

        this.axios.delete('/user/2');
        this.axios.post('/user/2', {_method: 'delete'});

    },
    methods: {
        removeProduct(id) {
            console.log('parent function')
            this.products = this.products.filter(item => item.id !== id)
        },
        createProduct(product) {
            this.products.push(product)
        }
    },
    computed: {
        filteredProducts() {
            return this.products.filter(product => {
                return product.name.toLowerCase().includes(this.search_term.toLowerCase()) ||
                    product.description.toLowerCase().includes(this.search_term.toLowerCase());
            })
        },
        numCount() {
            return +this.count
        }
    }
}
</script>

<style scoped>

</style>
