<template>
    <div>
        <h1 class="bg-red">Main</h1>
        <child-component/>
        <router-link :to="{name: 'HelloWorld'}">Hello</router-link>

        <square-group :count="3"/>
        <h1 class="bg-success">
            <time-component/>
        </h1>

        <b-container>
            <b-row>

            </b-row>
        </b-container>
    </div>
</template>

<script>
import ChildComponent from "./test/ChildComponent";
import SquareGroup from "./test/SquareGroup";
import Time from "./includes/Time";
export default {
    components: {ChildComponent, SquareGroup, 'time-component': Time},
    data() {
        return {
            rand_color: 'rgb(24,191,173)'
        }
    },
    mounted() {
        setInterval(() => {
            this.changeColor()
        }, 200)

    },
    methods: {
        changeColor() {
            let r = Math.floor(Math.random()*255);
            let g = Math.floor(Math.random()*255);
            let b = Math.floor(Math.random()*255);
            this.rand_color = `rgb(${r}, ${g}, ${b})`
        }
    }
}
</script>

<style scoped>

</style>
