<template>
    <b-table :items="products"
             :fields="table_params.fields"
             striped
             borderless
    >
        <template v-slot:cell(actions)="data">
            <button class="btn btn-danger"
                    @click="removeProduct(data.item.id)"
            >Delete</button>
        </template>
    </b-table>
</template>

<script>
export default {
    props: {
        products: {type: Array}
    },
    data() {
        return {
            table_params: {
                fields: [
                    {key: 'id'},
                    {key: 'name'},
                    {key: 'description', label: 'DESC'},
                    {key: 'price', formatter: (item, key, row) => {
                            return `${item}.00$`
                        }
                    },
                    {key: 'actions'}
                ]
            }
        }
    },
    methods: {

        removeProduct(id) {
            if(!confirm('Are you sure to remove this product?')) return;
            console.log('child function')
            this.$parent.removeProduct(id);
        }
    }
}
</script>

<style scoped>

</style>
