<template>
    <div>
        {{ hours }}:{{ minutes }}:{{ seconds }}
    </div>
</template>

<script>
export default {
    data() {
        return {
            date: new Date()
        }
    },
    mounted() {
        setInterval(() => {
            this.date = new Date()
        }, 1000)
    },
    computed: {
        seconds() {
            let second = this.date.getSeconds();
            return second < 10 ? '0' + second : second
        },
        minutes() {
            let minutes = this.date.getMinutes();
            return minutes < 10 ? '0' + minutes : minutes
        },
        hours() {
            let hours = this.date.getHours();
            return hours < 10 ? '0' + hours : hours
        }
    }

}
</script>

<style scoped>

</style>
