<template>
    <div :class="class_name" :style="{width: width, height: height, backgroundColor: bgColor}">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        width: {type: String, default: '100px'},
        height: {type: String, default: '100px'},
        bgColor: {type: String, default: 'red'}
    },
    data() {
        return {
            class_name: 'square'
        }
    }
}
</script>

<style scoped>

</style>
