<template>
    <div>
        <b-container>
            <b-row>
                <b-col cols="8" class="mt-4 mx-auto">
                    <h2 class="text-center">Products list</h2>
                    <router-link :to="{name: 'Products-Create'}" class="btn btn-success my-2">
                        Create product
                    </router-link>
                    <b-table :items="products"
                             :fields="table_fields"
                    >
                        <template v-slot:cell(actions)="data">
                            <router-link :to="{name: 'Products-Show', params: {id: data.item.id}}">
                                <b-icon icon="eye"></b-icon>
                            </router-link>
                            <router-link :to="{name: 'Products-Edit', params: {id: data.item.id}}">
                                <b-icon icon="pen"></b-icon>
                            </router-link>
                            <b-icon icon="trash" variant="primary" @click="deleteProduct(data.item)"></b-icon>
                        </template>
                    </b-table>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import moment from 'moment'
export default {
    data() {
        return {
            products: [],
            table_fields: [
                {key: 'id'},
                {key: 'name'},
                {key: 'user_id'},
                {key: 'category'},
                {key: 'description'},
                {key: 'price'},
                {key: 'created_at', formatter: (item) =>  moment(item).format('lll')},
                {key: 'actions'},
            ]

        }
    },
    mounted() {
        this.getProducts()
    },
    methods: {
        getProducts() {
            this.axios.get('/products').then(res => {
                this.products = res.data.data
            })
        },
        deleteProduct(product) {
            if(!confirm(`Are you sure to delete product ${product.name}`)) return;
            this.axios.delete(`/products/${product.id}`).then(() => {
                this.getProducts()
            })
        }
    }
}
</script>

<style scoped>

</style>
