<template>
    <div>
        <b-container>
            <b-row>
                <b-col cols="8" class="mt-4 mx-auto">
                    <h2 class="text-center">Current product</h2>
                    <b-table :items="product"
                             :fields="table_fields"
                    ></b-table>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import moment from "moment";

export default {
    data() {
        return {
            product: {
                name: null,
                price: null,
                category: null,
                description: null
            },
            table_fields: [
                {key: 'id'},
                {key: 'name'},
                {key: 'user_id'},
                {key: 'category'},
                {key: 'description'},
                {key: 'price'},
                {key: 'created_at', formatter: (item) =>  moment(item).format('lll')},
            ]
        }
    },
    mounted() {
        this.getProduct(this.$route.params.id)
    },
    getProduct(id) {
        this.axios.get(`/products/${id}`).then(res => {
            this.product = res.data.data
        })
    }

}
</script>

<style scoped>

</style>
